.see-book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.see-book-card {
  width: 80rem;
  background-color: rgb(94, 99, 99);
  margin-top: 1.3rem;
  padding: 4rem;
}

.sub-title {
  margin-left: .4rem;
}

.title-mat-card {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}

.icon {
  margin-right: 2rem;
}

.content-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.5rem 2rem 2rem;
}

.description {
  margin: 0 2.5rem 0 2rem;
}
