<div class="see-book">
  <mat-card *ngFor="let book of books" class="see-book-card">
    <mat-card-header>
      <mat-card-title class="title-mat-card">
        <mat-icon class="icon">book</mat-icon>
        {{book.title | titlecase}}
      </mat-card-title>
      <mat-card-subtitle class="sub-title" *ngIf="book.caption">
        {{book.caption}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="content-1">
        <span class="caption" *ngIf="book.author">
          Autor: {{book.author  | titlecase}}
        </span>
        <span class="pages" *ngIf="book.pages">
          Páginas: {{book.pages}}
        </span>
      </div>

      <div class="description" *ngIf="book.description">
        {{book.description}}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button title="Editar livro" (click)="handleEditing(book)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-raised-button title="Apagar livro" color="warn" (click)="handleDeleting(book)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
