.add-book-card {
  max-width: 130rem;
  background-color: rgb(94, 99, 99);
  margin-top: 1.3rem;
  padding: 4rem;
}

.simple-mat-form {
  margin-left: .5rem;
}

.simple-button {
  margin-left: 1.5rem;
}
